/* index.css */
body{
	background-color: green;
	font-family: 'Open Sans', sans-serif, arial;
}
.statusbar-overlay {
    background: #000000;
}.page {
	background-color: green;
}
.boton{
        font-size:25px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background: green;
        border:10px;
        width:80px;
        height:19px;
       }